body {
	background-color: rgb(23, 23, 23);
}

.bg-wrong {
	background-color: rgb(39 39 42);
}

.bg-miss {
	background-color: rgb(226, 140, 26);
}

.bg-correct {
	background-color: rgb(37, 168, 74);
}

.flip-wordle-word {
	-webkit-transition: 2s ease 0s;
	-o-transition: 2s ease 0s;
	-moz-transition: 2s ease 0s;
	transition: 2s ease 0s;
	-webkit-transform: rotateX(360deg);
	-moz-transform: rotateX(360deg);
	transform: rotateX(360deg);
}
